# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# NuGet
*.nupkg
packages/
!packages/build/

# User-specific files
*.rsuser
*.log

# Publish output
publish/

# ASP.NET
project.lock.json
project.fragment.lock.json
artifacts/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac
.DS_Store

# Rider
.idea/

# Secrets
appsettings.Development.json
*.pfx
*.p12
