@model Project.Models.Batch

<h1>Create Batch</h1>
<form method="post" class="mt-3">
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input name="Name" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">Session (e.g., 2024-2025)</label>
        <input name="Session" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>